nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    color: white;
}
nav  ul li{
    list-style: none;
    margin: 12px;
    background-color: black;
    padding: 12px;
}
button{
    background-color: blueviolet;
    color: black;
    border: none;
    margin: 12px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
}
*{
    background-color: rgb(173, 169, 169);
}